.orden{
  background: url(../src/assets/img/fondo1.jpg);
  padding:5px;
  margin: 0 auto;
  height: 100px;
  width: 1200px;
}

.hola{
  font-size: 2.5rem;
  text-align: center;
  color: #3C2317;
}

.lindo{
  text-align: center;
  background-color:blanchedalmond;
  font-size: 1cm;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  height: 250px;
  width: 972px;
  border-radius: 15px;
}

.tcolumnas{
  column-count: 7;
  color:rgb(96, 58, 58);
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  border-radius: 15px ;
  background-color:blanchedalmond;
  margin: 0 auto;
  height: 250px;
  width: 1200px;
}

.lindo2{
  text-align: center;
  background-color:rgb(232, 175, 167);
  margin: 0 auto;
  height: 60px;
  width: 250px;
  border-radius: 15px;
  column-count: 3;
}